/*DOCUMENTO CSS*/

.subencabezado {
    /*borde: estilo y color*/
    font: bold normal 16px "Arial Black", Gadget, sans-serif;
    /*fuente*/
    color: #3399FF;
    /*color de la fuente*/
    letter-spacing: 3px;
    /*separación entre las letras*/
    text-align: center;
    vertical-align: middle;
    /*alineación del texto*/
    text-transform: uppercase;
    /*texto se transforma en mayúsculas*/
    text-shadow: #860FFF 1px 1px 5px;
}

.menu {
    text-align: left;
    font-family: Arial;
    font-size: 20px;
    COLOR: #016bcf;
    text-shadow: 0px 0px 9px #3399FF;
    margin-left: 2%;
}

#button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3199fa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #99c3fa;
    margin-left: 3%;
}

#button:hover {
    background-color: #3199fa
}

#button:active {
    background-color: #3199fa;
    box-shadow: 0 5px #99c3fa;
    transform: translateY(4px);
}

#sombratexto {
    text-shadow: #860FFF 1px 1px 5px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    margin-left: 2%;
    width: 60%;
    text-align: left;
    border: 2px solid #222222;
    border-collapse: collapse;
}

th {
    font-size: 14px;
    font-weight: bold;
    /*padding: 12px;*/
    background: #b9c9fe;
    /*border-top: 4px solid #aabcfe;*/
    border-bottom: 2px solid #000000;
    color: #039;
}

td {
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid #000000;
    color: #669;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0dafd;
    color: #339;
}


/*TÍTULOS*/

.titulo1 {
    /*color: #fff;*/
    color: #FFBD4A;
    font-size: 36px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #000000, 0 2px 0 #8F7BF1, 0 3px 0 #568BE1, 0 4px 0 #09429E, 0 5px 0 #073277, 0 6px 1px #0000001a, 0 0 5px #0000001a, 0 1px 3px #0000004d, 0 3px 5px #00000033, 0 5px 10px #00000040, 0 10px 10px #00000033, 0 20px 20px #00000026;
    text-align: left;
    margin-left: 2%
}

.titulo2 {
    color: #445DD3;
    font-size: 26px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #FFDC88, 0 2px 0 #FFD05E, 0 3px 0 #FFC53A, 0 4px 0 #FFBA15, 0 5px 0 #DF9D00, 0 6px 1px #0000001a, 0 0 5px #0000001a, 0 1px 3px #0000004d, 0 3px 5px #00000033, 0 5px 10px #00000040, 0 10px 10px #00000033, 0 20px 20px #00000026;
    text-align: left;
    margin-left: 2%
}


/*FIN*/